<div class="table-responsive">
  <div class="card">
    <h5 class="card-header text-center bg-dark text-white">Lista de Disciplinas</h5>
    <div class="card-body">
      <table id="dataTable" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Disciplinas</th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <th scope="row"><%= subject.id %></th>
              <td><%= subject.description %></td>
              
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
