<div class="table-responsive text-center">
  <div class="card">
    <h5 class="card-header bg-primary text-white">
      Ultimas aulas  
    </h5>
    <div class="card-body">
      <table id="dataTableOrder" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Ultima Pergunta</th>
            <th scope="col">
              <a class="text-primary" data-toggle="modal" data-target="#modal"><i class="fas fa-plus">Nova aula</i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @class_occurrences.each do |occurrence| %>
            <tr>
              <td scope="row"> <%= dt_br(occurrence.created_at) %></td>
              <td> "<%= occurrence.question.description %>"</td>
              <td >
                <a href="<%= users_backoffice_show_class_occurrence_path(occurrence.classroom_id, occurrence.id) %>"><i class="fa fa-edit">Entrar</i></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% console %>

<%= render partial: 'modal_config', 
           locals: {name: 'Nova Aula', 
                    path: '/users_backoffice/class_occurrences',
                    verb: 'post'}%>